@import "tailwindcss";

@theme {
  --color-beige: rgb(244, 236, 230);
  --color-sidebar: rgb(164, 218, 237);
  --color-accent: rgb(70, 70, 255);
  --color-sq: rgb(156, 212, 231);
}

@keyframes rotateSquare {
  from { transform: rotate(6deg); }
  to { transform: rotate(366deg); }
}

.animate-rotate-square {
  animation: rotateSquare 9s infinite linear;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
